	 <div class="container-fluid navContainer">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            	<li role="presentation"><a class="navLI" href="/">Home</a></li>
            	<li role="presentation"><a class="navLI" href="/saved">Saved Articles</a></li>
            	<li role="presentation"><a class="navLI scrape" href="/scrape">Scrape Articles</a></li>
          </ul>
        </nav>
        <h3 class="text-muted navTitle">Game Scraper</h3>
      </div>
     </div>

	  <div class="jumbotron">
        <h1 class="jumboH">Game Scraper</h1>
      </div>



	{{#each data.articles}}
		 {{#unless this.saved}}

			<div class="media articles" style="margin-top: 20px;">

			  <div class="media-left media-top">

			    <a href="{{this.link}}" target="_blank">
			      <img class="media-object" src="{{this.img}}">
			    </a>

			  </div>

			  <div class="media-body">
			  
			    <a href="{{this.link}}" target="_blank" class="aTitle"><h4 style="margin-top: 10px;" class="media-heading">{{this.title}}</h4></a>
			    <button style="margin-top: 20px;" id="save" data-id="{{this._id}}" class="btn btn-lg btn-primary btn-block">Save Article</button>

			  </div>
			</div>
 
		{{/unless}}

		{{else}}
			<div class="panel panel-danger">
			  <div class="panel-heading">Uh-Oh Looks like you didn't Scrape!</div>
			</div>
	{{/each}}
			
	{{#if data.finishScrape}}
		<div style="display: block" id="myModal" class="modal">

		  <!-- Modal content -->
		  <div style="width: 530px;" class="container modal-content">
		    <span class="close">&times;</span>
		  	<h1 class="numArticles">Added {{data.length}} articles</h1>
		  </div>

		</div>
	{{/if}}


