<div class="container-fluid navContainer">
	<div class="header clearfix">
		<nav>
		  <ul class="nav nav-pills pull-right">
		    	<li role="presentation"><a class="navLI" href="/">Home</a></li>
		    	<li role="presentation"><a class="navLI" href="/saved">Saved Articles</a></li>
		    	<li role="presentation"><a class="navLI scrape" href="/scrape">Scrape Articles</a></li>
		  </ul>
		</nav>
		<h3 class="text-muted navTitle">Game Scraper</h3>
	</div>
</div>

<div class="jumbotron">
	<h1 class="jumboH">Saved Articles</h1>
</div>	

{{#each theArticles}}
	{{#if this.saved}}
		<div class="media" style="margin-top: 20px;">
			<div class="media-left media-top">

				    <a href="{{this.link}}" target="_blank">
				      <img class="media-object" src="{{this.img}}">
				    </a>
			</div>
			<div class="media-body">
				    <a href="{{this.link}}" target="_blank"><h4 style="margin-top: 20px;" class="media-heading">{{this.title}}</h4></a>
				    <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block" id="articleNotes" data-article-id="{{this._id}}">Article Notes</button>
			</div>
		</div>
	{{/if}}
	{{else}}
		<div class="panel panel-primary">
		  <div class="panel-heading">No articles saved</div>
		</div>	
{{/each}}
	
	<div class="main-popup">

	  <!-- Modal content -->
	  <div class="inner-popup" style="width: 530px;">
	    <span class="close">&times;</span>
	  	
	  	<div class="container comments">	
	  	</div>

	  	<div class="form-group">
		  <label for="comment">Comment:</label>
		  <textarea class="form-control" name="comment" rows="5" id="comment"></textarea>
		  <button type="submit" class="btn btn-success" id="commentButton">Submit</button>
		</div>
	  </div>

	</div>
